<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.esnack24api.esnack24api.cart.mapper.CartMapper">

    <select id="getCartList" resultType="ListCartDTO">

        select
            pci.ptitle_ko, pci.ptitle_ja, pci.ptitle_en, pci.ptitle_zh, pci.pno,
            pci.ciqty, pci.price, pci.pfilename, pci.cino
        from
            tbl_cart c left join (
                select
                    p.pno, ptitle_ko, p.ptitle_en, p.ptitle_ja, p.ptitle_zh,
                    p.pfilename, p.price, ci.ciqty, ci.cno, ci.ciregdate, ci.cino
                from
                    tbl_product p left join tbl_cartitem ci on p.pno = ci.pno
            ) pci on c.cno = pci.cno
        where
            c.cno = #{cno}
        order by
            pci.ciregdate desc
        limit
            #{pageRequest.skip}, #{pageRequest.size}
    </select>

    <select id="count" resultType="int">

        select
            count(ci.cino)
        from
            tbl_cart c left join tbl_cartitem ci on c.cno = ci.cno
        where
            c.cno = #{cno}
    </select>

</mapper>