<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.esnack24api.esnack24api.product.mapper.ProductMapper">

    <select id="getList" resultType="ProductMainDTO">
        select
            pno, price, pqty, pdelete, pfilename,
            pregdate, pmoddate, Product.ptitle_ko, Product.pcontent_ko, Product.pcategory_ko
        from
            Product
        where
            pdelete = 0
        order by
            pno desc
        limit #{skip}, #{size}
    </select>

    <select id="count" resultType="int">
        select count(pno)
        from Product
        where pno > 0 and pdelete = false
    </select>

</mapper>