<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.esnack24api.esnack24api.product.mapper.ProductMapper">

    <select id="getList" resultType="ProductListDTO">
        select
            pno, price, pqty, pdelete, pfilename,
            pregdate, pmoddate, ptitle_ko, pcontent_ko, pcategory_ko
        from
            tbl_product
        where
            pdelete = 0
        order by
            pno desc
        limit #{skip}, #{size}
    </select>

    <select id="count" resultType="int">
        select count(pno)
        from tbl_product
        where pno > 0 and pdelete = false
    </select>

<!--    <select id="getOne" resultType="ProductDetailDTO">-->
<!--        select-->
<!--            pno, price, pdelete, pfilename,-->
<!--            ptitle_ko, pcontent_ko, pcategory_ko-->
<!--        from-->
<!--            tbl_product-->
<!--        where-->
<!--            pno = #{pno}-->
<!--    </select>-->

</mapper>