<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.esnack24api.esnack24api.customersupport.mapper.QNAMapper">

    <select id="getList" resultType="QNAListDTO">
        select
            q.qno, q.qtitle, q.qregdate,
            u.uno
        from
            tbl_qna q
            inner join tbl_user u on q.uno = u.uno
        where
            q.uno = #{uno}
            and q.qdelete = false
        order by
            q.qno desc
        limit
            #{pageRequest.offset}, #{pageRequest.pageSize}
    </select>

    <select id="getOne" resultType="QNADetailDTO">
        select
            q.qno, q.qtitle, q.qcontent, q.qanswer,
            q.qfilename, q.qregdate, q.qmoddate,
            u.uno, p.pno
        from
            tbl_qna q
            inner join tbl_user u on q.uno = u.uno
            left join tbl_product p on q.pno = p.pno
        where
            q.qno = #{qno}
            and q.qdelete = false
    </select>

    <select id="count" resultType="int">
        select
            count(q.qno)
        from
            tbl_qna q
        where
            q.uno = #{uno}
            and q.qdelete = false
    </select>

</mapper>